process {

    withName: STAGE_FASTQS {
        publishDir = [
            path: "${params.outdir}/staged_fastqs/",
            mode: 'copy'
        ]
    }

	withName: SEQKIT_STATS {
        publishDir = [
            path: "${params.outdir}/seqkit/stats/",
            mode: 'copy'
        ]
    }

	withName: COMBINE_SEQKIT_STATS {
        publishDir = [
            path: "${params.outdir}/seqkit/combined/",
            mode: 'copy'
        ]
    }
}
